*{
  box-sizing: border-box;
}.app {
  display: flex;
}

.sidebar {
  background-color: blue;
  color: black;
  padding-top: 20px;
  /* border-radius: 25px; */
  border: 2px;
  padding: 20px;
  width: 200px;
  height: 100vh;
}

.list {
  margin: 30px;
}

.main {
  flex: 1;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.btn {
  background-color: blue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 15px;
  margin-right: -700px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background-color: grey;
}

.searchbox {
  background-color: transparent;
  border: none;
  color: black;
  padding: 15px 60px;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.cards {
  display: flex;
  gap: 50px;
  margin-bottom: 20px;
  width: 850px;
  height: 200px;
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1;
  width: 100px;

}

.chart {
  margin-bottom: 20px;

}

.balance {
  position: absolute;
  bottom: -60px;
  right: 40px;
  background-color: white;
  width: 300px;
  height: 150px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  font-weight: 700;
}

.price {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  
}

.btn-2 {
  background-color: blue;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: 70px;
}

.btn-2:hover {
  background: gray;
}

.graph {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;

}

.searchicon{
  transform: translateX(450px);
}







/* .balancetitle {
  margin-left: 10px;
  margin-top: 10px;

} */

.price p {
  font-weight: 700;
}

/* .top-products {
  margin-top: 20px;
  padding: 20px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */

/* .top-product-item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
} */

/* .top-product-item:hover {
  background: #f0f0f0;
  color: #1a73e8;
} */